/* :root {
  --first-color: #2e2f42;
  --second-color: #4d5ae5;
  --slate: #434455;
  --cloud: #f4f4fd;
  --navyblue: #2e2f42;
} */

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
header {
  background-color: #fff;
}
.header-nav-ul {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.logo-studio,
.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-web {
  color: #4d5ae5;
}

.grey {
  color: #2e2f42;
}

.header-address {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.address-color {
  color: #434455;
}

.grey:hover,
.grey:focus {
  color: #404bbf;
}
.grey:active {
  color: #404bbf;
}
/* main secction */
.hero-section {
  background: #2e2f42;
}

.hero-word {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button:active {
  color: #404bbf;
}
/* 3 section accomplishments-section */
.accomplishments-section {
  background: #fff;
}
.head-level-three {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.level-p {
  color: #434455;
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* 4 section Our Team */
.section-team {
  background: #f4f4fd;
}
.head-level-two {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-team-item {
  background-color: #ffffff;
}

.portfolio-section {
  background: #fff;
}

.footer-section {
  background: #2e2f42;
}

.footer-p {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-web-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-footer {
  color: #f4f4fd;
}
